.Menu {
  display: flex;
  justify-content: space-between;
}

.order-details {
  border: 1px solid red;
  flex-basis: 40%;
}

.menu-container {
  border: 1px solid red;
  flex-basis: 60%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.menu-item {
  border: 1px solid red;
  flex-basis: 20%;
  text-align: center;
  padding: 10px;
}

.menu-item img {
  width: 200px;
  height: 200px;
}

.menu-item span {
  display: block;
}

.userOrder {
  position: relative;
  padding: 20px;
}

.userOrder span {
  padding-right: 20px;
}

.nameItem {
  color: green;
}

.delete-item {
  position: absolute;
  top: 32%;
  right: 5px;
  background: url("../../assets/trash.svg") center no-repeat;
}

.order-title {
  font-size: 22px;
}

.totalCost {
  text-align: right;
}