.Menu {
  display: flex;
  justify-content: space-between;
}

.order-details {
  border: 1px solid red;
  flex-basis: 40%;
}

.menu-container {
  border: 1px solid red;
  flex-basis: 60%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.menu-item {
  border: 1px solid red;
  flex-basis: 20%;
  text-align: center;
  padding: 10px;
}

.menu-item img {
  width: 200px;
  height: 200px;
}

.menu-item span {
  display: block;
}